@use '../../styles/variables';

.fullStar {
  color: variables.$color-primary;  
  margin: 0 5px;
  font-size: 24px;
  @media (max-width: 768px)  {
  font-size: 14px;
  }
}

.emptyStar {
  color: variables.$color-secondary; 
  margin: 0 5px;
  font-size: 24px;
  @media (max-width: 768px)  {
    font-size: 14px;
    }  
}


