@use '../../styles/variables';

.logementCollapseContainer {
  display: flex;
  justify-content: space-between;
}

.logementInfoContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.logementTitle {
  font-size: 36px;
  color: variables.$color-primary;
  margin: 0;
  font-weight: normal;
}

.logementLocation {
  font-size: 18px;
  text-align: start;
  padding-bottom: 17px;
}

.tagsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.tag {
  background-color: variables.$color-primary;
color: variables.$color-text-white;
  padding: 3px 25px;
  border-radius: 10px;
  margin-right: 10px;
  font-size: 14px;
}

.logement_Host {
  &--Container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  &--Name {
      color: variables.$color-primary;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-right: 10px;
      font-size: 18px;
      text-align: right;
    }

  &--Picture {
      height: 64px;
      width: 64px;
      border-radius: 50px;
      object-fit: cover;
      object-position: center;
    }
  }


.logementCollapse {
  width: 48%;
}

.ratingContainer {
  margin-top: 20px;
}

@media (max-width: 768px) {
  .logementInfoContainer {
    display: flex;
    flex-direction: column;
  }
  .logementTitle {
    font-size: 18px;
  }
  .logementLocation {
    font-size: 14px;
  }
  .tag {
    font-size: 10px;
  }
  .ratingHostcontainer {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    margin-top: 20px;
    align-items: center;

    .logementHostName {
      font-size: 12px;
    }
    .logementHostPicture {
      width: 32px;
      height: 32px;
    }
  }

  .ratingContainer {
    margin-top: 0;
  }
  .logementCollapseContainer {
    flex-direction: column;
  }
  .logementCollapse {
    width: 100%;
  }
}
