.logementCollapseContainer {
    display: flex;
    justify-content: space-between;
  }
  
  .logementInfoContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .logementTitle {
    font-size: 36px;
    color: #ff6060;
    margin: 0;
    font-weight: normal;
  }
  
  .logementLocation {
    font-size: 18px;
    text-align: start;
    padding-bottom: 17px;
  }
  
  .tagsContainer {
    display: flex;
  }
  
  .tag {
    background-color: #ff6060;
    color: white;
    padding: 3px 25px;
    border-radius: 10px;
    margin-right: 10px;
    font-size: 14px;
  }
  
  .logementHostContainer {
    display: flex;
  }
  
  .logementHostName {
    color: #ff6060;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 10px;
    font-size: 18px;
  }
  
  .logementHostPicture {
    height: 64px;
    width: 64px;
    border-radius: 50px;
    object-fit: cover;
    object-position: center;
  }
  
  .logementCollapse {
    width: 48%;
  }
  
  .ratingContainer {
    margin-top: 20px;
  }