$color-primary: #ff6060; 
$color-secondary: lightgray; 
$color-error: #ff4a4a; 
$color-background-light: #F6F6F6; 
$color-text-black: black; 
$color-text-white: white;  
$color-light-gray: #fafafa; 
$color-transparent-light: #F6F6F673; 
