@use "../../styles/variables";

.logements {
  box-sizing: border-box;
  background-color: variables.$color-background-light;
  padding: 40px;
  border-radius: 25px;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .logements {
    background-color: transparent;
    padding: 0;
    margin-top: 30px;
    display: block;
  }
}
