.bg-hero-1 {
    
    background-size: cover;
    background-position: center;
    
    .banner-hover {
        
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .banner-hover-home {
        background-color: rgba(0,0,0,0.6);
    }
    .banner-hover-about {
        background-color: rgba(0,0,0,0.4);
    }
    h1 {
        color: #ffffff;
        font-size: 48px;
        text-shadow: 2px 3px 5px rgba(0,0,0,0.6);
    }
}

.logements {
    background-color: #F6F6F6;
    padding: 50px;
    border-radius: 25px;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
