@use "../../styles/variables";

.collapseContent {
  margin-top: 30px;
  color: variables.$color-text-white;
}

.collapse {
  background-color: variables.$color-primary;
  border-radius: 5px;
  padding: 10px 20px 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.textClose {
  height: 0;
  overflow: hidden;
  color: variables.$color-text-black;
  transition: 0.5s;
  text-align: start;
  background-color: variables.$color-light-gray;
  margin: 0;
  padding: 0 10px;
  box-sizing: border-box;
}

.textOpen {
  color: variables.$color-text-black;
  transition: 0.5s;
  text-align: start;
  background-color: variables.$color-transparent-light;
  margin: 0;
  padding: 10px;
  border-radius: 0 0 5px 5px;
}

.rotateBottom {
  transform: rotate(-180deg);
  transition: 0.5s;
}

.rotateTop {
  transform: rotate(0deg);
  transition: 0.5s;
}