@import "../../styles/variables";

.header {
  max-width: 1240px;
  margin: 50px auto;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation ul {
  list-style: none;
  display: flex;
  gap: 15px;
}

.linkHover {
  text-decoration: underline !important;
}

.navigation a {
  text-decoration: none;
  color: $color-text-black;
  font-size: 24px;
  font-weight: 500;


  &:hover {
    text-decoration: underline;
  }

  &.active {
    text-decoration: underline;
  }
}

.navigation a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .header {
    width: 90%;
    margin: 20px auto;

    .navigation a {
      font-size: 12px;
    }
  }

  .logo {
    width: 145px;
  }
}
