@import "../../styles/variables";

.footer {
    margin-top: 127px;
    background-color: $color-text-black;
    color: $color-text-white;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;

    img {
        margin-bottom: 20px;
        margin-top: 30px;
    }
}
